[req]
default_bits = 2048
prompt = no
default_md = sha256
x509_extensions = v3_req
distinguished_name = dn

[dn]
C = IN
ST = India
L = India
O = Mohit Pvt Limited
OU = Mohit Sofwares
emailAddress = goyalmohit.test1@gmail.com
CN = mohithost

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = localhost
DNS.2 = 127.0.0.1
DNS.3 = 192.168.1.37
DNS.4 = 34.160.7.246
DNS.5 = 34.111.249.229
DNS.6 = 34.*.*.*
DNS.7 = *.*.*.*
