<!-- <h3>Welcome to ecommerce application by Mohit!</h3>

<form [formGroup]="loginForm">

  <label for="first-name">User ID: </label>
  <input id="first-name" type="text" formControlName="userID">
<br>
<br>
  <label for="last-name">Password: </label>
  <input id="last-name" type="text" formControlName="password" type="password">

</form>

<p>Complete the form to enable button.</p>
<button class="button__sign-up" [disabled]="!loginForm.valid" (click)="handleSignUp()">Sign Up</button> -->

<div>
  <span class="dropdown-triangle-up"></span>
  <a  class="dd-close-btn"><i class="icon_close"></i></a>
  <div class="dropdown-head">
    <h4 class="pull-left">Sign in</h4>
  </div>
  <div class="dd-wrapper">
    <div id="dd-social-login">
      <div class="title"><span>Sign in using</span></div>
      <a [routerLink]="['/facebook-login']" class="btn facebook-btn"
        ><i class="social_facebook"></i>FACEBOOK</a
      >
      <a  class="btn twitter-btn"
        ><i class="social_twitter"></i>TWITTER</a
      >
    </div>
    <div id="dd_login">
      <form>
        <div class="required form-group">
          <input
            type="text"
            name="email"
            placeholder="Email / Login"
            class="placeholder-fix"
          />
          <i class="icon_mail field-icon"></i>
        </div>
        <div class="required form-group">
          <input
            type="password"
            name="password"
            placeholder="Password"
            class="placeholder-fix"
          />
          <i class="icon_lock field-icon"></i>
        </div>
        <div class="form-group">
          <input
            id="remember"
            class="stl"
            type="checkbox"
            value="1"
            name="remember"
          />
          <label class="stl" for="remember"><span></span>remember me</label>
        </div>
        <div class="form-group text-center">
          <button
            type="button"
            class="btn btn-sm btn-third-col"
            (click)="handleSignUp()"
          >
            <i class="icon-login"></i>
            <span class="hidden-sm hidden-xs">Login</span>
          </button>
        </div>
        <div class="text-center">
          <a  class="active">Foget your password?</a>
        </div>
        <div class="dd-delimiter"></div>
        <div class="form-group text-center">
          <button type="button" class="btn btn-sm btn-sec-col">
            Register
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
